/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=M+PLUS+Code+Latin:wght@100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'M PLUS Code Latin', monospace; */
  /* font-family: 'LXGW WenKai Mono TC', monospace; */
  font-family: 'Noto Sans SC', sans-serif;
  font-optical-sizing: auto;
  color: #3e4b4b;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

/* for new tab */
h1 {
  font-size: 12rem;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

form {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

label {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

label > .required {
  color: #ff6b6b;
  margin-left: 0.2rem;
}

input,
textarea {
  padding: 0.5rem 1rem;
  border: none;
  border-left: 1px solid #e0e7e7;
  border-bottom: 2px solid #e0e7e7;
  transition: all 0.3s;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 6px solid #e0e7e7;
  background-color: #e0e7e7;
}

textarea {
  resize: none;
}

button {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.48rem;
  border-bottom: 2px solid #8fa7a7;
  background-color: #e0e7e7;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #e0e7e7;
  border-bottom: 6px solid #8fa7a7;
}

button:active {
  background-color: #e0e7e7;
  border-bottom: 4px solid #8fa7a7;
}

.container {
  height: auto;
  max-width: 960px;
  margin: 24px auto;
  justify-content: start;
}

.button-group {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.form-control > * {
  width: 100%;
}

.form-control > small {
  font-size: 0.8rem;
  font-style: italic;
  color: #82d4d4;
}

.form-control > small::before {
  content: 'i';
  font-style: normal;
  font-size: 0.7rem;
  margin-right: 0.4rem;
  padding: 0.05rem 0.3rem;
  border-radius: 50%;
  border: 1px solid #82d4d4;
}

.copyright {
  font-size: 0.8rem;
  color: #5bc0de69;
}

/* 1.	文字（Primary Text Color）
•	深灰色 #3e4b4b：這個顏色與背景色形成對比，使文字更易於閱讀。
2.	背景（Background Color）
•	淡灰綠色 #e0e7e7：這是一個較淺的灰綠色，與主色調協調一致，適合作為背景色。
3.	邊框（Border Color）
•	鋼青色 #8fa7a7：這個顏色比主色調稍深，可以作為邊框顏色。
4.	高亮（Highlight Color）
•	柔和的綠松石色 #82d4d4：這個顏色比主色調亮，可以用來高亮重要信息或互動元素。
5.	警告（Warning Color）
•	橙色 #ffb347：這個暖色調與主色形成對比，用於顯示警告信息。
6.	錯誤（Error Color）
•	珊瑚紅 #ff6b6b：這個鮮豔的紅色用於顯示錯誤信息，能夠引起用戶注意。
7.	信息（Info Color）
•	天藍色 #5bc0de：這個顏色與主色調保持冷色系的一致性，用於顯示信息提示。 */
