/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=M+PLUS+Code+Latin:wght@100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

.font {
  /* font-family: 'M PLUS Code Latin', monospace; */
  /* font-family: 'LXGW WenKai Mono TC', monospace; */
  font-family: 'Noto Sans SC', sans-serif;
  font-optical-sizing: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  align-items: start;
  gap: 1rem;
  width: 100%;
}

.group {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.label {
  border-radius: 0.36rem;
  background-color: #e0e7e7;
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

.label.error {
  background-color: #ff6b6b;
  color: #fff;
}

.button {
  flex: 1;
  justify-content: center;
  transition: all 0.1s;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #8fa7a7;
  border-radius: 0.48rem;
  background-color: #e0e7e7;
  padding: 0.8rem 1.6rem;
  height: 3.2rem;
}

.button:hover {
  border-bottom: 4px solid #8fa7a7;
  background-color: #e0e7e7;
}

.button:active {
  border-bottom: 3px solid #8fa7a7;
  background-color: #e0e7e7;
}

.preview-panel {
  display: flex;
  position: fixed;
  top: 0;
  right: -960px;
  bottom: 0;
  z-index: 99999;
  backdrop-filter: blur(10px);
  transition: right 0.3s ease;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #0002;
  background-color: #0336;
  padding: 1.6rem;
  width: 960px;
  max-width: 100%;
  overflow: auto;
}

.preview-panel.active {
  right: 0;
}

.preview-panel .body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.6rem;
  background-color: #fffc;
  padding: 1.4rem;
}

.preview-panel .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-panel .header .title {
  font-weight: 700;
  font-size: 2.4rem;
}

.preview-panel .header .close {
  pading: 0.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.preview-panel .header .close:hover {
  background-color: #c33;
  color: #fff;
}

.preview-panel .video-id {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: monospace;
}

.preview-panel .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  overflow-y: auto;
}

.preview-panel .content .caption {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preview-panel .content .caption .caption-item {
  border-radius: 0.56rem;
  background-color: #fffc;
  padding: 0.4rem 0.8rem;
  min-width: 56px;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: monospace;
  text-align: right;
}

.preview-panel .content .caption .caption-text {
  font-weight: 500;
  font-size: 1.6rem;
}

.loading {
  background-color: #eee9;
}

.item-with-icon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* 5.	警告（Warning Color）
•	橙色 #ffb347：這個暖色調與主色形成對比，用於顯示警告信息。
6.	錯誤（Error Color）
•	珊瑚紅 #ff6b6b：這個鮮豔的紅色用於顯示錯誤信息，能夠引起用戶注意。
7.	信息（Info Color）
•	天藍色 #5bc0de：這個顏色與主色調保持冷色系的一致性，用於顯示信息提示。 */
